@import "../utils/mixins_and_functions";
@import "../utils/variables";

.footer{
    position:relative;
    
    @include flex(column, space-between, center);

    min-height: calc(100vh - 5rem);

    background-color: var(--clr-third);  

    &-top{
        @include flex(row, center, center);

        min-height: calc(100vh - 10rem);
        width: 100%;
    }
    &-bottom{
        @include flex(row, space-between, center);
        text-align: center;
        
        width: calc(100% - 2rem);
        max-height: 5rem;
        
        padding: .5rem;
        
        border-top: var(--clr-fourth)  solid 2px;
        color: var(--clr-white);

        font-size: var(--fs--1);
        letter-spacing: toRem(2);

        &-media{
            @include flex(row, space-between);
            
            width: min(100%, 8rem);

            &-github,
            &-linkedin{
                display: flex;

                margin-left: 1rem;
                
                background-color:var(--clr-second);

                border-radius: toRem(10);    

                &:hover{
                    opacity: .8;
                }
            }
        }

    }
}