@import "../utils/mixins";
@import "../utils/variables";

.footer{
    position:relative;

    @include flex(column, space-between, center);

    min-height: calc(100vh - 5rem);

    padding:0;
    
    text-align: center;

    background-color: #2c3465;  

    &-top{
        @include flex(row, center, center);
        min-height: calc(100vh - 10rem);
        padding:0;
        width: 100%;
    }
    &-bottom{
        @include flex(row, space-between, center);
        
        width: calc(100% - 2rem);
        max-height: 5rem;
        
        padding: 1rem;
        
        border-top: #363f79 solid 2px;
        color: #eee;

        letter-spacing: 2px;

        &-media{
            @include flex(row, space-between);
            &-github,
            &-linkedin{
                display: flex;
                width: 48px;

                padding:0;
                margin-left: 1rem;
                
                background-color:#ff32c8ab;
                
                border:none;
                border-radius: 10px;    

                &:hover{
                    opacity: .8;
                }
            }
        }

    }
}