@import "../utils/mixins";
@import "../utils/variables";

.footer{
    position:relative;

    //reemplazar por mixin
    display: flex;
    flex-direction: column;

    height: calc(100vh - 5rem);

    padding:0;
    margin-top: 2rem;
    
    text-align: center;

    &-top{
        min-height: 50%;
        background-color: #ccc;                           //reemplazar por variables
    }
    &-bottom{
        min-height: 50%;
        background-color: rgb(51, 51, 51, 1 );            //reemplazar por variables
    }
}