@import "../utils/mixins_and_functions";
@import "../utils/variables";

.form{
    @include flex(column, center, center);

    width: min(100%, 900px);

    color:var(--clr-second);
  
    &-title{
        width: 100%;        
        
        padding-inline: 1rem;
        
        text-align: start;
        white-space: nowrap;
        
        font-weight: var(--fw-3);
        
        font-size: var(--fs-3);
        letter-spacing: toRem(2);
    }

    &-input{
        background-color: var(--clr-fourth);
        color: var(--clr-white);
        
        border-radius: toRem(10);
        border: none;
        
        font-size: var(--fs--1);
        letter-spacing: 1px;

        &:focus {
            outline: none;
        }
        &::placeholder{
            color: var(--clr-white);
            opacity: .7;
        }
    }

    &-top,
    &-middle{
        display: flex;
        
        width: 100%;

        .form-input-box{
            width: 100%;

            &-input{
                width: calc(100% - 1.5rem);
        
                margin: .75rem;
                padding: 1.5rem;
            }     
        }
    
    }
    &-bottom{
        width: 100%;

        &-textarea{
            width: calc(100% - 1.5rem);
            
            margin: .75rem;
            padding: 1.5rem;
            
            resize: none;
        }
    }
    &-button{
        @include flex(row, space-between);

        width: 100%;

        margin: 0rem auto;
        padding: .5rem .75rem;

        
        &-submit{
            padding: 1em 3em;
            
            font-size: var(--fs--1);
            font-weight: var(--fw-3);
            letter-spacing: toRem(2);
            
            color: var(--clr-white);
            background-color: var(--clr-second);
            
            border: none;
            border-radius: toRem(10);
            opacity: .9;
            
            &:hover{
                cursor: pointer;
                opacity: .8;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

@media screen and (max-width: toEm(700)) {
    .form{
        width: clamp(toRem(300), 100%, toRem(500));

        &-top,
        &-middle{
            flex-direction: column;
            text-align: center;

            .form-input-box-input{
                padding: 1rem;
                margin: .5rem;
            }
        }
        .form-bottom-textarea{
            padding: 1rem;
            margin-bottom: 0
        }
    }
}

.span-ok{
    @include flex(row, center, center);

    height: 0;
    width: 90%;
    
    margin-inline:auto;
    
    font-size: var(--fs--1);
    font-weight: var(--fw-3);
    white-space: nowrap;
    
    border-bottom-left-radius: toRem(20);
    border-bottom-right-radius: toRem(20);
    
    opacity: 0;
    
    transition: all .3s ease;
}
.span-err{
    height:1.5rem;
    margin-top: -1rem;
    
    background-color: var(--clr-err);
    color: var(--clr-white);
    
    opacity: 1;
}
.form-valid{
    border-bottom: var(--clr-ok) solid 5px;
}
.form-invalid{
    border-bottom: var(--clr-err) solid 5px;
}
.span-form{
    @include position(absolute, 50%, unset, 50%);
    transform: translate(-50%, -50%);
    
    display: grid;
    place-content: center;
    
    height: 25%;
    aspect-ratio: 1.618;
    
    background-color: var(--clr-first);
    border-radius: toRem(10);
    
    font-size: var(--fs-2);
    font-weight: var(--fw-3);

    visibility: hidden;
    opacity: 0;
    
    transition: all .3s ease;
    &-visible{
        opacity: 1;
        visibility: visible;
    }
    &-success{
        color: var(--clr-white);
        box-shadow: 0px 0px 10px 2px var(--clr-ok);        
    }
    &-err{
        color: var(--clr-white);
        box-shadow: 0px 0px 10px 2px var(--clr-err);
    }
    .success-div,
    .error-div{
        @include flex(column, center, center);

        padding-top: 2rem;
    }
    & h3{
        margin-top: 1rem;
    }
}