@import "../utils/mixins";
@import "../utils/variables";


//HEADER
.header{
    @include position(sticky, 0, unset, unset, unset, 99);

    height: 5rem;
 
    backdrop-filter: blur(5px);
    background-color: rgba(0 0 0 /.7);                //variable
 
    white-space: nowrap;

    transition: all .5s ease;

    &-container{
        @include flex(row, space-between);

        padding-inline: 2rem;

        & .title{
            & a{
                background: linear-gradient(90deg,#4f2af7, #ff32ca);          //podria usar el mismo gradiente en la main
                background-clip: text;
                color:transparent;
                
                
                font-size: clamp(1.5rem, 1rem + 5vw, 2.5rem);                       //clamp for mobile
            }
        }
        .menu{
            width: max(40%, 500px);
            height: 5rem;
            &-container{
                @include flex(row, space-around, center);
                
                height: 100%;
                width: 90%;

                & a{
                    width: calc(100% / 3);
                    padding-block: .5rem;                    
                    
                    letter-spacing: 3px;
                    font-weight: bold;
                    text-align: center;

                    &:hover{
                        box-shadow: 1px 0 0 0 0 #eee;
                    }

                }
            }
        }
    }
}

//menu current section 
.selected{
    color: rebeccapurple !important;                                                      //variable colors
}
.openned{
    height: 100vh !important;
    opacity: 1 !important;
}

@media screen and (max-width: 900px) {
    .header{
        &-container{
            
            .menu{
                @include position(absolute, 5rem, unset, unset, 0, 99);
                
                height: 0;
                width: clamp(300px, 100%, 500px);

                margin-left: auto;

                background-color: rgba(0 0 0 / .8);
                overflow: hidden;

                opacity: 0;

                transition: all .5s ease;

                @include flex(column, start, center);
                &-container{
                    @include flex(column, space-around, center);
                    
                    height: 50vh;
                    width: clamp(300px,100%,500px);
                    
                    padding-top: 3rem;
            
                    & a{
                        @include flex(row, center, center);
                        
                        width: 90%;
                        height: 7rem;
                        
                        font-size: clamp(1rem, .8rem + 2vw, 1.5rem);
                        font-weight: bold;
            
                        border-radius: 10px ;
            
                        color:#eee;                                                              //variables color            
                    }
                }
            }
        }
    }
}

