@import "../utils/mixins";
@import "../utils/variables";


//HEADER
.header{
    @include position(sticky, 0, unset, unset, unset, 99);

    height: 5rem;
 
    backdrop-filter: blur(5px);
    background-color: rgba(0 0 0 /.7);                //variable
 
    white-space: nowrap;

    transition: all .5s ease;

    &-container{
        @include flex(row, space-between);

        padding-inline: 2rem;

        & .title{
            & a{
                background: linear-gradient(90deg,#4f2af7, #ff32ca);          //podria usar el mismo gradiente en la main
                background-clip: text;
                color:transparent;
                
                
                font-size: clamp(1.5rem, 1rem + 5vw, 2.5rem);                       //clamp for mobile
            }
        }
        .menu{
            width: max(40%, 500px);
            height: 5rem;
            &-container{
                @include flex(row, space-around, center);
                
                height: 100%;
                width: 90%;

                & a{
                    position: relative;
                    padding: .5rem 1rem;                    
                    
                    letter-spacing: 3px;
                    font-weight: bold;
                    text-align: center;

                    margin:0;
                    background-color: transparent;

                    color: #eee;
                    transition: all .3s ease;

                    &.selected{
                        pointer-events: none;
                        transition: all .3s ease;
                    }
                    
                    &:after{
                        content:"";
                        @include position(absolute, unset, -10px, 50%);
                        height: 5px;
                        width: 0%;
                        background: linear-gradient(90deg, rgba(80, 42, 247, 0.7),hsla(316, 100%, 60%, 0.7));
                        transition: all .3s ease;
                    }
                    &:hover::after{
                        left: 0;
                        width: 100%;
                    }
                    &::before{
                        content:"";
                        @include position(absolute, unset, -10px, 0);
                        height: 5px;
                        width: 0%;    
                        border-radius: 2px;
                        background: linear-gradient(90deg, rgba(80, 42, 247, 0.7),hsla(316, 100%, 60%, 0.7));
                    }
                    &.selected::before{
                        width: 100%;
                    }
                   
                    
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .header{
        &-container{
            
            .menu{
                @include position(absolute, 5rem, unset, unset, 0, 99);
                
                height: 0;
                width: clamp(300px, 100%, 500px);

                margin-left: auto;

                backdrop-filter: blur(3px);
                background-color: rgba(0 0 0 / .8);
                overflow: hidden;

                opacity: 1;

                transition: all .5s ease;

                @include flex(column, start, center);
                &-container{
                    @include flex(column, space-around, center);
                    
                    height: 50vh;
                    width: clamp(300px,100%,500px);
                    
                    padding-top: 3rem;
            
                    & a{
                        @include flex(row, center, center);
                        
                        width: 90%;
                        height: 7rem;
                        
                        font-size: clamp(1rem, .8rem + 2vw, 1.5rem);
                        font-weight: bold;
            
                        border-radius: 10px ;
            
                        color:#eee;                                                              //variables color            
                    }
                }
            }
        }
    }
}

