@import "../utils/mixins_and_functions";
@import "../utils/variables";

.home-section{
    margin-top: -5rem;

    background: var(--background-gradient);

    &-top{
        @include flex(row, space-around, center);
        
        min-height: calc(95vh - 5rem);

        padding: 1rem;
        
        &-text{
            width: 45%;
            height: min(50%, toRem(400));
            
            padding:0rem;
            margin-top: 4rem;
        
            color: var(--clr-white);
            
            &-about{
                min-width: toRem(400);

                letter-spacing: toRem(2);
            }
            #home-gh-link{
                color: var(--clr-second);
            }
            .same{
                font-size: var(--fs-0);
                display: inline;
            }
            #home-h2{
                opacity: 0;
                filter:blur(5px);
            }
            #home-h3{
                transform: translate(0%, 200%);
                
                filter:blur(5px);
                
                opacity: 0;

                font-size: var(--fs--1);
            }
        }
    }
    &-bottom{ 
        @include flex(column, center, center);

        min-height: 70vh;
        
        padding: 0 0 5rem 0;
 
        &-title{
            position: relative;
            
            font-size: var(--fs-0);

            color: var(--clr-white);

            margin-bottom: 0;
            
            & + span{
                transform: rotate(-45deg);
                
                width: var(--fs-0);
                aspect-ratio: 1 / 1;

                margin-block: 0;
                
                border-left: solid var(--clr-white) toRem(5);
                border-bottom: solid var(--clr-white) toRem(5);
            }
        }

        &-cardbox{            
            padding: 1rem .5rem;
        }
        &-postsbox{
            width: 90%;
            
            margin-top: 10rem;

            &-linkbox-link{
                width: 15rem;
                height: 3.5rem;

                margin: 4rem auto 0;

                border: var(--clr-first) 3px solid !important;  

                &:hover{
                    border-color: var(--clr-primary);

                    & > span{
                        transform: translateX(11.5rem);
                        background-color: var(--clr-primary);
                    }
                    &::before{
                        width: 100%;
                    }
                }
            }
        }    
    }
}

@media screen and (max-width: toEm(1200)) {
    .home-section-top{
        flex-direction: column;
        &-text{
            margin-top: 7rem;
            width: 100%;
        }
    }
}


