@import "../utils/mixins";
@import "../utils/variables";

.home-section{
    margin-top: -5rem;

    &-top{
        @include flex(row, space-around, center);
        
        min-height: calc(95vh - 5rem);

        &-text{
            width: 35%;
            height: min(50%, 400px);
            padding:1rem;
        
            &-about{
                color: #eee;
                min-width: 400px;
                font-size: clamp(1rem, .8rem + 3vw, 2rem);
                font-size: clamp(.5rem, .5rem + 5vw, 2rem)  ;
                letter-spacing: 1px;
                line-height: 3rem;
            }
            &-link{
                
            }
        }
        
        &-animation{
            background-color: blue;
            height: 100%;
            width: 45%;
        }
    }
    
    &-bottom{   
        min-height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &-title{
           margin-block: -3rem 1rem;
            color: #eee;
        }

        &-cardbox{
            height: 85%;
            padding-block:1rem;
        }
        
        &-btnbox{
            margin-top:1rem;
            border: solid white 2px;
            height: 10%;
            width: 70%;

            display: flex;
            justify-content: end;

            &-btn{
            margin-right:2rem;
            }
        }
    }

}