@import "../utils/mixins_and_functions";
@import "../utils/variables";

main{
    width: 100%;
    height: 100%;

    margin-inline: auto;
    padding-block: 0;

    border-radius: toRem(20);
}

.grid-fluid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(toRem(250)), 1fr));

    max-width: 90%;
    
    margin: 1rem auto;
}
.grid-fluid-home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(toRem(350), 100%), 1fr));

    max-width: 100%;
    
    gap:3rem;
    
    margin: 1rem auto;
}