@import "../utils/mixins";
@import "../utils/variables";

.post-card{
    @include flex(column, space-between, center);
    position: relative;
    
    height: 350px;
    width: 90%;
    max-width: 300px;   

    margin: 1rem auto;
    
    backdrop-filter: blur(5px);

    border-radius: 10px;

    color: #eee;

    transform-style: preserve-3d;
    
    &-face{
        @include position(absolute, 0, 0, 0, 0);

        overflow: hidden;
        
        border-radius: 10px;                    //shadow variable
        
        transition: all .3s linear;
        
        backface-visibility: hidden;
        background: linear-gradient( rgba(80, 42, 247, 0.7),hsla(316, 100%, 60%, 0.7));
    }
    &-front{
        transform: rotateY(0deg);

        &-top{
            height: 150px;
            
            &-img{
                height: 100%;
                width: fit-content;
            }
            overflow: hidden;
        }   
        &-bottom{
            @include flex(column, space-between);
            gap: .5rem;
    
            height: 55%;
            min-width: 100%;
    
            &-text{
                @include flex(column, space-between);
    
                width: 90%;
                height: 60%;
                
                margin: 0.5rem auto -1rem;
                
                //title
                .post-card-front-title{
                    margin: 0;
    
                    font-size: clamp(1rem, .5rem + .5vw, 1.7rem);                             //corregir
                }
            }
            .post-card-front-author{
                @include flex(row, space-around, center);
                
                width: 90%;
    
                margin: 1rem auto 1rem;
                
                &-img{
                    width: 64px;
                    height: 64px;
    
                    margin-inline: .5rem;
                    
                    border-radius: 50%;
                }
                .post-card-front-figcaption {
                    @include flex(column, center);
                    
                    width: 80%;
    
                    white-space: nowrap;
                    &-h3{
                        margin-block: .5rem;
                    }
                    &-time{
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }
    &-back{
        @include flex(column, space-between, center);

        padding: 1rem;
        
        transform:  rotateY(180deg);

        &-text{

        }
        &-link{
            margin-left: auto;
        }
    }
    &:hover .post-card-front{
        transform: rotateY(180deg);
    }
    &:hover .post-card-back{
        transform: rotateY(360deg);
    }
}