@import "../utils/mixins_and_functions";
@import "../utils/variables";

.post-section{
    @include flex(column);
    
    padding-block: 5rem;

    &-header{  
        @include flex(row, center);

        gap:1rem;

        padding-inline: .5rem 1rem;

        width:100%;

        margin: 2rem auto;
        
        &-left{
            @include flex(column, center);

            width: min(60%, calc(1150px - 4rem));

            & h2{
                margin-block:1rem;
                            
                font-size: clamp(1.2rem,1rem + 3.5vw,3rem);
                font-size: var(--fs-2);

                color: var(--clr-white);
            }
            &-author{
                @include flex(row, flex-start, center);
                
                margin:0;
                
                & img{
                    max-width: 10%;
                    min-width: toRem(48);
                    border-radius: 50%;
                }

                & div{
                    & h3{
                        margin: 0 1rem;

                        color: var(--clr-white);           
                        
                        font-size: var(--fs--1);
                        white-space: nowrap;
                    }
                    & time{
                        font-size: var(--fs--1);
                        margin-inline: 1rem;
                        
                        color: var(--clr-white);
                    }
                }
            }
        }
        &-right{
            width: 20%;
            min-width: 300px;
        }
    }

    .post-section-content{

        @include flex(row, center);
        gap:1rem;
        padding-inline: .5rem 1rem;

        &-main{
            width: min(60%, calc(toRem(1150) - 4rem)); 
            padding:2rem;

            background-color: var(--theme-background);
            color:var(--theme-text);
            
            font-size: var(--fs--2);

            border-radius: toRem(10);
            transition: all .3s ease;

            //STYLING THE POST CONTENT
            & h2,
            & h3,
            & h4, 
            & p{
                letter-spacing: 1px;
            }
            & figure{
                max-width: 100%;
                text-align: center;
            }
            //CODE QUOTES
            & pre{
                padding:1rem;
                                
                background-color: #444;   //asdasdasdadasdasdasdadsasdas
                color:#eee;
                
                border-radius: toRem(10);
                
                overflow-y: auto;
            }
            //MULTIMEDIA
            & video,
            & img,
            & iframe{
                max-width: 100%;
                max-height: 70vh;
            }
            blockquote{
                width: 100%;
                margin: 0;
            }
        }
        
        &-aside{
            position:relative;

            width:20%;
            min-width: toRem(300);
            
            border-left:solid 3px var(--theme-background);

           &-slider{
                @include position(sticky, 7rem);

                width: 100%;
                max-height: 80vh;
                margin-inline:auto;

                text-align: center;

                &-title  {
                    color:var(--clr-white);
                }
            }
        }
    }
}

@media screen and (max-width: toEm(1024)) {
    
    .post-section{
        padding:0;
        
        &-header{
            padding-inline:1rem;
            
            &-left{
                width: 100%;
            }
            &-right{
                display: none;
            }
        } 
        .post-section-content{
            flex-direction: column;
            
            width: 100%;

            padding:0;
            
            &-main{
                width: calc(100% - 1rem);
                
                font-size: var(--fs--1);

                padding:1rem;
                margin-inline: auto;
            }

            &-aside{
                width: calc(100% - 2rem);
                min-width: toRem(250);
                min-height: toRem(500);

                margin-top: 2rem;
                margin-inline: auto;

                border-left: none;

                &-slider{
                    position: unset;
            
                    &-title{
                        text-align: center;
                    }

                    &-container{
                        width: min(toRem(1100), 100%);
                        
                        padding:2rem 0;
                        margin-inline:auto;

                        border-block: 3px solid var(--theme-background);
                        
                        overflow-x: auto;
                        
                        scrollbar-width: none;

                        &::-webkit-scrollbar{
                            display: none;
                        }

                        &-cards{
                            display: flex;

                            width: fit-content;
                            
                            margin-inline:auto;
                        }
                    }
                }
            }
        }
    }
}