@import "../utils/mixins";
@import "../utils/variables";

.post-section{
    @include flex(column);

    width:100%;
    
    padding-block: 5rem;
    margin-top: -5rem;

    &-header{  
        @include flex(row, center);

        gap:3rem;

        width:100%;

        margin: 2rem auto;
        
        &-left{
            @include flex(column, center);

            width: min(60%, calc(1150px - 4rem));

            padding-inline:2rem;

            & h2{
                margin-block:1rem;
                            
                font-size: clamp(1.2rem,1rem + 3.5vw,3rem);                         //corregir

                font-family: 'Rubik', sans-serif;                                     //ff variable
                color: #eee;                                                        //color variable
            }
            &-author{
                @include flex(row, flex-start, center);
                
                margin:0;
                
                & img{
                    border-radius: 50%;
                }

                & div{
                    & h3{
                        margin: 0 1rem;

                        font-size: clamp(1rem,1rem + 3vw,1.5rem);                          //corregir
                        font-family: 'Rubik', sans-serif;                              //ff variable
                        
                        color: #eee;                                                 //color variable
                        
                        white-space: nowrap;
                    }
                    & time{
                        margin-inline: 1rem;

                        font-family: 'Rubik', sans-serif;                              //ff variable
                        
                        color: #eee;                                                 //color variable
                    }
                }
            }
        }
        &-right{
            width: 20%;
        }
    }

    .post-section-content{

        @include flex(row, center);
        
        &-main{
            width: min(60%, calc(1150px - 4rem)); 
            padding:1rem 2rem;
            
            margin-inline: 1.5rem;

            background-color: #eee;                              //variable color
            border-radius: 10px;

            //para darle estilos a los textos traidos por fetch
            & h2,
            & h3,
            & h4, 
            & p{
                color:#222;                                                          //variable color
                
                letter-spacing: 1.5px;
            }
            //para centrar elementos traidos por fetch
            & figure{
                max-width: 100%;

                text-align: center;
            }
            //para darle estilos a los fragmentos de codigo
            & pre{
                padding:1rem;
                                
                background-color: #444;                                                  //variable color
                color:#eee;                                                                 //variable color
                
                border-radius: 10px;
                
                overflow-y: auto;
            }
            //para limitar el tamaño de los archivos multimedia
            & video,
            & img,
            & iframe{
                max-width: 100%;
                max-height: 70vh;
            }
        }
        
        &-aside{
            position:relative;

            width:20%;
            min-width: 300px;
            
            margin-inline: 1.5rem;
            
            border-left:solid 3px  rgba(255, 255, 255, .8);                            //variable color

           &-slider{
                @include position(sticky, 7rem);

                width: 100%;
                max-height: 80vh;
                margin-inline:auto;

                text-align: center;

                &-title  {
                    color:#eee;                                        //variable color
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    
    .post-section{
        &-header{
            width: 100%;

            padding-inline:1rem;

            .post-section-header-left{
                width: 100% //!important;          //solucionado al seleccionar la clase especifica
            }
            &-right{
                display: none;
            }
        }
        
        .post-section-content{
            flex-direction: column;
            
            width: 100%;

            padding-inline:1rem;
            
            &-main{
                width: calc(100% - 2rem);
            }

            &-aside{
                width: calc(100% - 2rem);
                min-height: 500px;

                margin-top: 2rem;

                border-left: none;

                &-slider{
                    position: unset;
            
                    &-title{
                        margin-inline:auto;

                        font-size: 2rem;
                    }

                    &-container{
                        width: min(1100px, 100%);
                        
                        padding:2rem 0;
                        margin-inline:auto;

                        border-block: 4px solid rgba(255, 255, 255, .8);
                        
                        overflow-x: auto;
                        
                        scrollbar-width: none;

                        &::-webkit-scrollbar{
                            display: none;
                        }

                        &-cards{
                            display: flex;

                            width: fit-content;
                            
                            margin-inline:auto;
                        }
                    }
                }
            }
        }
    }
}