@import "../utils/mixins_and_functions";
@import "../utils/variables";
.related-card{
    margin-left: 1rem;

    & figure{
        position:relative;

        @include flex(row, space-between);

        width: 100%;
        height: toRem(60);

        margin: 1rem 0 0;
 
        background-color: var(--theme-background);
        color: var(--theme-text);
        
        border-radius: toRem(10);

        transition: all .3s ease-in-out;
        
        overflow: hidden;

        & figcaption{
            @include flex(column, space-between);

            width: 80%;
            
            padding: 0 .5rem .5rem 1rem;
            
            text-align: start;

            & h4,
            & time{
                margin:.5rem 0 0;
                font-size: clamp(.7rem, .5rem + .2vw, 1rem); //BETTER RESULTS
            }
        }
        & img{
            max-width:20%;

            object-fit: cover;
        }
        &:hover{
            cursor: pointer;        

            transform: translateX(1.5rem);
        }
    }
}
@media screen and (max-width: toEm(1024)) {
    .related-card{
        @include flex(row, start);

        margin: 0;
        
        transition: all .2s ease-in-out;
        
        & figure{
            flex-direction: column-reverse;

            height: toRem(250);
            width: toRem(200);
            
            margin: .5rem 0;
            padding-inline:0;
            
            box-shadow: -1rem 0px 2rem #000;        //STACKED EFFECT

            & figcaption{
                @include flex(column, space-between);

                width: 100%;
                height: 50%;
                
                padding: 0 1rem 1rem;
            }
            & img{
                max-width: none;
                height: 50%;
            }
        }
        &:hover{
            transform-origin: 100% 0;
            transform: rotate(5deg);

            z-index: 1;
        }
        &:hover~.related-card{
            transform: translateX(1rem);
            
            z-index: 2;
        }
        &:not(:first-child){
            margin-left: -2rem;
        }
    }
}