.home-section{
    
}

.posts-section{
    width: min(100%, 1200px);
    margin-inline:auto;
}
.search-section{
    width: min(100%, 1200px);
    margin-inline:auto;
    
}
.post-section{
    width: 100%;

}