@import "../utils/mixins";
@import "../utils/variables";

#root{ 
    min-height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position:top center;
}

.home-section{
    
}
.posts-section{
    width: min(100%, 1200px);

    margin-inline:auto;

}
//-----------------------------------
.search-section{
    width: min(100%, 900px);

    margin-inline:auto; 
}
.search-header{
    @include position(sticky, 5rem, unset, unset, unset, 90);
    @include flex(row, center, center);

    background-color: rgba(0  0  0 / 0.5);                                 //VARIABLES COLOR
    height: 4rem;

    opacity: 0;

    transform: translate(0%, -100%);

    & form{
        @include flex(row, center, center);

        width: min(90%, 600px);
        height: 2.5rem;
        
        margin-inline: auto;

        background-color: #eee;
        border-radius: 10px;
        padding:0rem;

        & input{
            width: min(100%, 600px);

            padding: .5rem;
            margin-inline: 2rem;

            border: none;
            border-bottom: solid 2px #333;
            background-color: #eee;

            &:focus{
                outline: none;
            }
        }
        .search-btn{
            height: 100%;
            aspect-ratio: 1 / 1;
            
            border:none;
            border-radius: 10px;
            
            background-color: #333;            
        }
    }
}
@media screen and (min-width: 900px){
    .search-btn{
        display: none;
    }
}
//-----------------------------------
.post-section{
    width: 100%;
}