html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /*font-family: 'Cabin', sans-serif;*/
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

.title,
.menu > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
}

a:visited {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.loader {
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
}

.error {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #dc3545;
  color: #fff;
}

.warn {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  color: #aaa;
  border: solid transparent 2px;
  border-radius: 10px;
  font-weight: bold;
  white-space: nowrap;
  transition: all 0.5s ease;
  overflow: hidden;
}
.btn:focus {
  outline: none;
}
.btn span {
  position: absolute;
  top: 2px;
  bottom: unset;
  left: 2px;
  right: unset;
  z-index: unset;
  position: absolute;
  left: 2px;
  top: 2px;
  display: grid;
  place-content: center;
  height: calc(100% - 4px);
  aspect-ratio: 1/1;
  border-radius: 7px;
  background-color: transparent;
  transition: all 0.5s ease;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: unset;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: rgba(255, 50, 200, 0.5);
  transition: all 0.5s ease;
}
.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: #eee;
  border-color: #eee;
  box-shadow: inset 0px 0px 20px 30px rgba(255, 50, 200, 0.5), inset 0px 0px 20px 30px rgba(80, 42, 247, 0.6), 0px 0px 10px 5px rgba(255, 50, 200, 0.5), 0px 0px 10px 5px rgba(80, 42, 247, 0.6);
  padding-inline: 1rem 2.5rem;
}
.btn:hover span {
  transform: translateX(110px);
  background-color: #eee;
}

#btn-github,
#btn-linkedin {
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset;
  z-index: 99;
  height: 5rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: transparent;
  white-space: nowrap;
  transition: all 0.5s ease;
}
.header > span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.5s ease;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  padding-inline: 2rem;
}
.header-container .title a {
  background: linear-gradient(90deg, #4f2af7, #ff32ca);
  background: linear-gradient(90deg, #8a00d4, #EA047E);
  background: linear-gradient(135deg, #FF6D28, 10%, #ff32ca);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: clamp(1.5rem, 1rem + 5vw, 2.5rem);
}
.header-container .menu {
  width: max(40%, 500px);
  height: 5rem;
}
.header-container .menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 90%;
}
.header-container .menu-container a {
  position: relative;
  padding: 0.5rem 1rem;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  background-color: transparent;
  color: #eee;
  transition: all 0.3s ease;
}
.header-container .menu-container a.selected {
  pointer-events: none;
  transition: all 0.3s ease;
}
.header-container .menu-container a:after {
  content: "";
  position: absolute;
  top: unset;
  bottom: -10px;
  left: 50%;
  right: unset;
  z-index: unset;
  height: 5px;
  width: 0%;
  background: linear-gradient(90deg, #FF6D28, 20%, #ff32ca);
  transition: all 0.3s ease;
}
.header-container .menu-container a:hover::after {
  left: 0;
  width: 100%;
}
.header-container .menu-container a::before {
  content: "";
  position: absolute;
  top: unset;
  bottom: -10px;
  left: 0;
  right: unset;
  z-index: unset;
  height: 5px;
  width: 0%;
  border-radius: 2px;
  background: linear-gradient(90deg, #FF6D28, 20%, #ff32ca);
}
.header-container .menu-container a.selected::before {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header-container .menu {
    position: absolute;
    top: 5rem;
    bottom: unset;
    left: unset;
    right: 0;
    z-index: 99;
    height: 0;
    width: clamp(300px, 100%, 500px);
    margin-left: auto;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .header-container .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: clamp(300px, 100%, 500px);
    padding-top: 3rem;
  }
  .header-container .menu-container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 7rem;
    font-size: clamp(1rem, 0.8rem + 2vw, 1.5rem);
    font-weight: bold;
    border-radius: 10px;
    color: #eee;
  }
  .header-container .menu-container a::after, .header-container .menu-container a::before {
    display: none;
  }
  .header-container .menu-container a.selected, .header-container .menu-container a:hover {
    background: linear-gradient(90deg, rgba(255, 108, 40, 0.7333333333), 20%, rgba(255, 50, 202, 0.7333333333));
  }
}
.hamb-menu-btn {
  position: relative;
  align-self: center;
  height: clamp(1.2rem, 1rem + 3vw, 2rem);
  aspect-ratio: 1/1;
  margin-left: 1rem;
  padding: 0;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  display: none;
}
.hamb-menu-btn div {
  height: 15%;
  border-radius: 2px;
  width: 100%;
  background-color: #eee;
}
.hamb-menu-btn-top {
  position: absolute;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset;
  z-index: unset;
}
.hamb-menu-btn-middle-top {
  position: absolute;
  top: 50%;
  bottom: unset;
  left: unset;
  right: unset;
  z-index: unset;
  transform: translate(0, -50%);
}
.hamb-menu-btn-middle-bottom {
  position: absolute;
  top: 50%;
  bottom: unset;
  left: unset;
  right: unset;
  z-index: unset;
  transform: translate(0, -50%);
}
.hamb-menu-btn-bottom {
  position: absolute;
  top: unset;
  bottom: 0;
  left: unset;
  right: unset;
  z-index: unset;
}

@media screen and (max-width: 900px) {
  .hamb-menu-btn {
    display: block;
  }
}
main {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding-block: 0;
  border-radius: 20px;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 90%;
  margin: 1rem auto;
}

.grid-fluid-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  max-width: 100%;
  gap: 3rem;
  margin: 1rem auto;
}

/* @media screen and(max-width: 800px) {
    .grid-fluid-home{
        grid-template-columns: repeat(auto-fit, minmax(min(250px), 1fr));

    }
} */
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 350px;
  width: 90%;
  max-width: 300px;
  margin: 1rem auto;
  border-radius: 10px;
  color: #222;
  transform-style: preserve-3d;
}
.post-card-face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: unset;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 10px 5px rgba(34, 34, 34, 0.5);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #eee;
}
.post-card-front {
  transform: rotateY(0deg);
}
.post-card-front-top {
  height: 150px;
  overflow: hidden;
}
.post-card-front-top-img {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-card-front-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  gap: 0.5rem;
  height: 55%;
  min-width: 100%;
}
.post-card-front-bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 90%;
  height: 60%;
  margin: 0.5rem auto -1rem;
}
.post-card-front-bottom-text .post-card-front-title {
  margin: 0;
  font-size: clamp(1rem, 0.5rem + 0.5vw, 1.7rem);
}
.post-card-front-bottom .post-card-front-author {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 1rem auto 1rem;
}
.post-card-front-bottom .post-card-front-author-img {
  width: 64px;
  height: 64px;
  margin-inline: 0.5rem;
  border-radius: 50%;
}
.post-card-front-bottom .post-card-front-author .post-card-front-figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  width: 80%;
  white-space: nowrap;
}
.post-card-front-bottom .post-card-front-author .post-card-front-figcaption-h3 {
  margin-block: 0.5rem;
}
.post-card-front-bottom .post-card-front-author .post-card-front-figcaption-time {
  margin-bottom: 0.5rem;
}
.post-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transform: rotateY(180deg);
}
.post-card-back-link {
  margin-left: auto;
}
.post-card:hover .post-card-front {
  transform: rotateY(180deg);
}
.post-card:hover .post-card-back {
  box-shadow: 0px 0px 20px 10px rgba(255, 50, 200, 0.5), 0px 0px 20px 10px rgba(80, 42, 247, 0.6);
  transform: rotateY(360deg);
}

.search-card {
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0px 0px 10px 5px rgba(34, 34, 34, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: #eee;
  color: #222;
  border-radius: 10px;
  font-size: clamp(0.5rem, 0.5rem + 4vw, 0.75rem);
  transition: box-shadow 0.5s ease;
}
.search-card:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 50, 200, 0.5), 0px 0px 20px 10px rgba(80, 42, 247, 0.6);
}
.search-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  padding: 0.5rem;
  border: solid red 2px;
}
.search-card > div > figure {
  border: solid red 2px;
  width: max(20%, 200px);
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.search-card > div > figure > img {
  align-self: center;
  width: 64px;
  height: 64px;
  margin-inline: 0.5rem;
  border-radius: 50%;
}
.search-card > div > figure > figcaption > h3 {
  margin-block: 0.5rem;
}
.search-card > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 80%;
  padding-inline: 0.5rem;
}
.search-card > div > div > h2 {
  margin: 0 0 0 0.5rem;
  font-size: clamp(0.5rem, 0.3rem + 2vw, 1rem);
}
.search-card > div > div > a {
  margin-inline: auto 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.related-card {
  margin-left: 1rem;
}
.related-card figure {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  width: 100%;
  height: 60px;
  margin: 1rem 0 0;
  background-color: #eee;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.related-card figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 80%;
  padding: 0 0.5rem 0.5rem 1rem;
  text-align: start;
}
.related-card figure figcaption h4 {
  margin: 0.5rem 0 0;
  font-size: calc(0.3rem + 0.5vw);
}
.related-card figure figcaption time {
  font-size: calc(0.3rem + 0.5vw);
}
.related-card figure img {
  max-width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}
.related-card figure:hover {
  cursor: pointer;
  transform: translateX(1.5rem);
}

@media screen and (max-width: 900px) {
  .related-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: unset;
    margin: 0;
    transition: all 200ms ease-in-out;
  }
  .related-card figure {
    flex-direction: column-reverse;
    height: 250px;
    width: 200px;
    margin: 0.5rem 0;
    padding-inline: 0;
    background-color: #eee;
    box-shadow: -1rem 0px 2rem #000;
  }
  .related-card figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: unset;
    width: 100%;
    height: 50%;
    padding: 0 1rem 1rem;
  }
  .related-card figure img {
    max-width: none;
    height: 50%;
  }
  .related-card:hover {
    transform-origin: 100% 0;
    transform: rotate(5deg);
    z-index: 1;
  }
  .related-card:hover ~ .related-card {
    transform: translateX(1rem);
    z-index: 2;
  }
  .related-card:not(:first-child) {
    margin-left: -2rem;
  }
}
.post-section {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  width: 100%;
  padding-block: 5rem;
  margin-top: -5rem;
}
.post-section * {
  border: solid red 1px;
}
.post-section-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  gap: 3rem;
  width: 100%;
  margin: 2rem auto;
}
.post-section-header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  width: min(60%, 1150px - 4rem);
}
.post-section-header-left h2 {
  margin-block: 1rem;
  font-size: clamp(1.2rem, 1rem + 3.5vw, 3rem);
  font-family: "Rubik", sans-serif;
  color: #eee;
}
.post-section-header-left-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.post-section-header-left-author img {
  border-radius: 50%;
}
.post-section-header-left-author div h3 {
  margin: 0 1rem;
  font-size: clamp(1rem, 1rem + 3vw, 1.5rem);
  font-family: "Rubik", sans-serif;
  color: #eee;
  white-space: nowrap;
}
.post-section-header-left-author div time {
  margin-inline: 1rem;
  font-family: "Rubik", sans-serif;
  color: #eee;
}
.post-section-header-right {
  width: 20%;
}
.post-section .post-section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
}
.post-section .post-section-content-main {
  width: min(60%, 1150px - 4rem);
  padding: 1rem 2rem;
  margin-inline: 1.5rem;
  background-color: #eee;
  border-radius: 10px;
}
.post-section .post-section-content-main h2, .post-section .post-section-content-main h3, .post-section .post-section-content-main h4, .post-section .post-section-content-main p {
  color: #222;
  letter-spacing: 1.5px;
}
.post-section .post-section-content-main figure {
  max-width: 100%;
  text-align: center;
}
.post-section .post-section-content-main pre {
  padding: 1rem;
  background-color: #444;
  color: #eee;
  border-radius: 10px;
  overflow-y: auto;
}
.post-section .post-section-content-main video, .post-section .post-section-content-main img, .post-section .post-section-content-main iframe {
  max-width: 100%;
  max-height: 70vh;
}
.post-section .post-section-content-aside {
  position: relative;
  width: 20%;
  min-width: 300px;
  margin-inline: 1.5rem;
  border-left: solid 3px rgba(255, 255, 255, 0.8);
}
.post-section .post-section-content-aside-slider {
  position: sticky;
  top: 7rem;
  bottom: unset;
  left: unset;
  right: unset;
  z-index: unset;
  width: 100%;
  max-height: 80vh;
  margin-inline: auto;
  text-align: center;
}
.post-section .post-section-content-aside-slider-title {
  color: #eee;
}

@media screen and (max-width: 900px) {
  .post-section-header {
    width: 100% !important;
    padding-inline: 1rem;
  }
  .post-section-header .post-section-header-left {
    width: 100% !important;
    width: max(96px, 20%);
  }
  .post-section-header-right {
    display: none;
  }
  .post-section .post-section-content {
    flex-direction: column;
    width: 100%;
    padding-inline: 0rem;
  }
  .post-section .post-section-content-main {
    width: calc(100% - 2rem);
  }
  .post-section .post-section-content-aside {
    width: calc(100% - 2rem);
    min-height: 500p;
    min-width: 250px;
    margin-top: 2rem;
    border-left: none;
  }
  .post-section .post-section-content-aside-slider {
    position: unset;
  }
  .post-section .post-section-content-aside-slider-title {
    margin-inline: auto;
    font-size: 2rem;
  }
  .post-section .post-section-content-aside-slider-container {
    width: min(1100px, 100%);
    padding: 2rem 0;
    margin-inline: auto;
    border-block: 4px solid rgba(255, 255, 255, 0.8);
    overflow-x: auto;
    scrollbar-width: none;
  }
  .post-section .post-section-content-aside-slider-container::-webkit-scrollbar {
    display: none;
  }
  .post-section .post-section-content-aside-slider-container-cards {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
  }
}
#root {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

.posts-section {
  width: min(100%, 1200px);
  margin-inline: auto;
}

.search-section {
  width: min(100%, 900px);
  margin-inline: auto;
}

.search-header {
  position: sticky;
  top: 5rem;
  bottom: unset;
  left: unset;
  right: unset;
  z-index: 90;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 4rem;
  opacity: 0;
  transform: translate(0%, -100%);
}
.search-header > form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min(90%, 600px);
  height: 2.5rem;
  margin-inline: auto;
  background-color: #eee;
  border-radius: 10px;
  padding: 0rem;
}
.search-header > form input {
  width: min(100%, 600px);
  padding: 0.5rem;
  margin-inline: 2rem;
  border: none;
  border-bottom: solid 2px #333;
  background-color: #eee;
}
.search-header > form input:focus {
  outline: none;
}
.search-header > form .search-btn {
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 10px;
  background-color: #333;
}

@media screen and (min-width: 900px) {
  .search-btn {
    display: none;
  }
}
.post-section {
  width: 100%;
}

.home-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #222;
  display: grid;
  place-content: center;
  transition: all 0.5s ease;
}
.home-loader > img {
  width: 100px;
  font-size: 4rem;
  aspect-ratio: 1/1;
}

.fade-loader {
  opacity: 0;
}

.loader-post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 90%;
  max-width: 300px;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.loader-post-card div {
  border-radius: 5px;
}
.loader-post-card-top {
  height: 65%;
  width: 100%;
}
.loader-post-card-top-img {
  height: 100%;
  min-height: 150px;
}
.loader-post-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  gap: 0.5rem;
  min-width: 100%;
  height: 100%;
}
.loader-post-card-bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 90%;
  height: 60%;
  margin: 0.5rem auto -1rem;
}
.loader-post-card-bottom-text-title {
  height: clamp(1rem, 0.3rem + 0.5vw, 1.5rem);
  margin: 0;
}
.loader-post-card-bottom-text-title2 {
  width: 60%;
  height: clamp(1rem, 0.3rem + 0.5vw, 1.5rem);
  margin: -4rem 0 0;
}
.loader-post-card-bottom-author {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
}
.loader-post-card-bottom-author .loader-post-card-bottom-author-img {
  width: 64px;
  height: 64px;
  margin-inline: 0.5rem auto;
  border-radius: 50%;
}
.loader-post-card-bottom-author .loader-post-card-bottom-author-figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  width: 65%;
  white-space: nowrap;
}
.loader-post-card-bottom-author .loader-post-card-bottom-author-figcaption .loader-post-card-bottom-author-figcaption-h3 {
  height: 1rem;
  width: 7rem;
  margin-bottom: 0.4rem;
}
.loader-post-card-bottom-author .loader-post-card-bottom-author-figcaption .loader-post-card-bottom-author-figcaption-date {
  height: 1rem;
  width: 5rem;
  margin-top: 0.4rem;
}

.loader-search-card {
  height: 145px;
  width: 90%;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.loader-search-card-body {
  display: flex;
  padding: 0.5rem 0.5rem 0;
}
.loader-search-card-body div {
  border-radius: 5px;
}
.loader-search-card-body-author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  height: 130px;
  width: max(20%, 200px);
  margin: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
.loader-search-card-body-author .loader-search-card-body-author-img {
  min-width: 64px;
  min-height: 64px;
  margin-top: 0.5rem;
  margin-inline: auto;
  border-radius: 50%;
}
.loader-search-card-body-author-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 0;
}
.loader-search-card-body-author-text-name {
  width: 65%;
  height: 1.2rem;
  margin-block: 0.5rem;
}
.loader-search-card-body-author-text-date {
  width: 4rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
.loader-search-card-body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 80%;
  padding: 0.5rem;
}
.loader-search-card-body-content-title {
  height: 1.5rem;
  width: 70%;
  margin-left: 0.2rem;
}
.loader-search-card-body-content-subtitle {
  width: 50%;
  height: 1.5rem;
  margin: -1rem 0 0 0.2rem;
}
.loader-search-card-body-content .loader-search-card-body-content-link {
  height: 2.5rem;
  width: min(70%, 9rem);
  border-radius: 10px;
  margin-inline: auto 1rem;
}

.loader-post-section {
  height: 100%;
  width: 100%;
  margin-inline: auto;
}
.loader-post-section div {
  border-radius: 5px;
}
.loader-post-section-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  width: 100%;
  height: 220px;
  margin-inline: auto;
}
.loader-post-section-header-left {
  width: min(60%, 1150px - 4rem);
  padding: 0rem 2rem;
  margin-inline: 1.5rem;
}
.loader-post-section-header-left-title {
  height: 20%;
  width: max(100%, 200px);
  margin: 3.5rem auto;
}
.loader-post-section-header-left-author {
  display: flex;
  width: max(100%, 200px);
  margin: -1.5rem auto;
  padding-left: 0.5rem;
}
.loader-post-section-header-left-author .loader-post-section-header-left-author-img {
  height: 96px;
  width: 96px;
  margin-top: -1rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.loader-post-section-header-left-author-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  width: max(20%, 100px);
}
.loader-post-section-header-left-author-text-name {
  height: 35%;
  width: 80%;
  margin-bottom: 0.5rem;
}
.loader-post-section-header-left-author-text-date {
  height: 30%;
  width: 100%;
}
.loader-post-section-header-right {
  height: 100%;
  width: 20%;
  margin-left: 4rem;
}
.loader-post-section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  margin-inline: auto;
  margin-top: 1rem;
}
.loader-post-section-content .loader-post-section-content-main {
  height: 100vh;
  width: min(60%, 1150px - 4rem);
  padding: 1rem 2rem;
  margin-inline: 1.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.loader-post-section-content .loader-post-section-content-main-text {
  height: 1.2rem;
  margin: 1rem auto;
}
.loader-post-section-content .loader-post-section-content-main-text:last-child {
  width: 60%;
  margin: 0;
  margin-right: auto;
}
.loader-post-section-content .loader-post-section-content-aside {
  height: 100vh;
  width: 20%;
  min-width: 300px;
  margin-inline: 2rem;
  border-left: solid 3px lightgray;
  border-radius: 0px;
}
.loader-post-section-content .loader-post-section-content-aside-container-title {
  width: 40%;
  height: 1.5rem;
  margin: 0.5rem auto;
}
.loader-post-section-content .loader-post-section-content-aside-container-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  margin: 1rem 0 0 1rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
}
.loader-post-section-content .loader-post-section-content-aside-container-post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: unset;
  width: 70%;
  padding-inline: 0.5rem;
}
.loader-post-section-content .loader-post-section-content-aside-container-post-text-title {
  width: 90%;
  height: 1rem;
}
.loader-post-section-content .loader-post-section-content-aside-container-post-text-date {
  width: 50%;
  height: 1rem;
}
.loader-post-section-content .loader-post-section-content-aside-container-post-img {
  width: 55px;
  height: 55px;
  border-radius: 0px;
}
@media screen and (max-width: 1200px) {
  .loader-post-section .loader-post-section-header-left {
    width: 100%;
  }
  .loader-post-section .loader-post-section-header-right {
    display: none;
  }
  .loader-post-section .loader-post-section-content {
    flex-direction: column;
    width: 100%;
    padding-inline: 1rem;
  }
  .loader-post-section .loader-post-section-content-main {
    width: calc(100% - 2rem);
  }
  .loader-post-section .loader-post-section-content-aside {
    display: none;
  }
}

.skeleton {
  position: relative;
  background: #c1c1c1;
  overflow: hidden;
}
.skeleton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #d3d3d3, transparent);
  transform: translateX(-100%);
  animation: skeleton 1s infinite;
}
@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 5rem);
  padding: 0;
  text-align: center;
  background-color: #2c3465;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem);
  padding: 0;
  width: 100%;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2rem);
  max-height: 5rem;
  padding: 1rem;
  border-top: #363f79 solid 2px;
  color: #eee;
  letter-spacing: 2px;
}
.footer-bottom-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
}
.footer-bottom-media-github, .footer-bottom-media-linkedin {
  display: flex;
  width: 48px;
  padding: 0;
  margin-left: 1rem;
  background-color: rgba(255, 50, 200, 0.6705882353);
  border: none;
  border-radius: 10px;
}
.footer-bottom-media-github:hover, .footer-bottom-media-linkedin:hover {
  opacity: 0.8;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100%, 900px);
  padding: 0rem;
  color: rgba(255, 50, 200, 0.6705882353);
}
.form-title {
  width: 100%;
  padding-inline: 1rem;
  text-align: start;
  white-space: nowrap;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
}
.form-input {
  background-color: #4f5c89;
  color: #eee;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.form-input:focus {
  outline: none;
}
.form-input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.7333333333);
}
.form-input::placeholder {
  color: rgba(238, 238, 238, 0.7333333333);
}
.form-top, .form-middle {
  display: flex;
  width: 100%;
}
.form-top .form-input-box, .form-middle .form-input-box {
  width: 100%;
}
.form-top .form-input-box-input, .form-middle .form-input-box-input {
  min-width: calc(100% - 1.5rem);
  margin: 0.75rem;
  padding: 1.5rem;
}
.form-bottom {
  width: 100%;
}
.form-bottom-textarea {
  width: calc(100% - 1.5rem);
  margin: 0.75rem;
  padding: 1.5rem;
  resize: none;
}
.form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  width: 100%;
  margin: 0rem auto;
  padding: 0.5rem 0.75rem;
}
.form-button-submit {
  padding: 1rem 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #eee;
  background-color: rgba(255, 50, 200, 0.6705882353);
  border-radius: 10px;
  border: none;
  transition: all 0.5 ease;
}
.form-button-submit:hover {
  cursor: pointer;
  opacity: 0.9;
}
.form-button-submit:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .form {
    width: clamp(300px, 100%, 500px);
  }
  .form-top, .form-middle {
    flex-direction: column;
  }
  .form-top .form-input-box-input, .form-middle .form-input-box-input {
    padding: 1rem !important;
  }
}
.span-ok {
  height: 0;
  width: 90%;
  opacity: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
}

.span-err {
  height: 1.5rem;
  margin-top: -1rem;
  background-color: #af414c;
  color: #eee;
  opacity: 1;
}

.form-valid {
  border-bottom: green solid 5px;
}

.form-invalid {
  border-bottom: #af414c solid 5px;
}

.span-form {
  position: absolute;
  top: 50%;
  bottom: unset;
  left: 50%;
  right: unset;
  z-index: unset;
  transform: translate(-50%, -50%);
  height: 30%;
  aspect-ratio: 1.618;
  background-color: #0a1756;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  display: grid;
  place-content: center;
  transition: all 0.3s ease;
}
.span-form-visible {
  opacity: 1;
  visibility: visible;
}
.span-form-success {
  color: #eee;
  box-shadow: 0px 0px 10px 2px rgb(55, 228, 11);
}
.span-form-err {
  color: #eee;
  box-shadow: 0px 0px 10px 2px #af414c;
}
.span-form .success-div,
.span-form .error-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.span-form h3 {
  margin-top: 1rem;
}

.home-section {
  margin-top: -5rem;
  background: radial-gradient(circle at -10% -10%, rgba(255, 50, 200, 0.6705882353), 25%, transparent 50%), radial-gradient(circle at 105% 35%, rgba(255, 50, 202, 0.6705882353), 20%, #0a1756 60%);
}
.home-section-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: calc(95vh - 5rem);
  padding: 2rem;
}
.home-section-top-text {
  width: 45%;
  height: min(50%, 400px);
  padding: 1rem;
  margin-top: 4rem;
  color: #eee;
  z-index: 4;
}
.home-section-top-text-about {
  min-width: 400px;
  letter-spacing: 2px;
}
.home-section-top-text #home-h3 {
  transform: translate(0%, 200%);
  filter: blur(5px);
  opacity: 0;
}
.home-section-top-text #home-gh-link {
  color: #ff32ca;
}
.home-section-top-text .same {
  font-size: clamp(0.5rem, 0.5rem + 3vw, 1.7rem);
  display: inline;
}
.home-section-top-text #home-h2 {
  opacity: 0;
  filter: blur(5px);
}
.home-section-top-text #home-h2-middle {
  margin-left: -0.8rem;
}
.home-section .home-section-bottom {
  min-height: 70vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.home-section .home-section-bottom-title {
  position: relative;
  margin-block: -3rem 1rem;
  color: #eee;
}
.home-section .home-section-bottom-title + span {
  width: 1.3rem;
  height: 1.3rem;
  border-left: solid white 5px;
  border-bottom: solid white 5px;
  transform: rotate(-45deg);
  margin-block: -1rem 0.4rem;
}
.home-section .home-section-bottom-cardbox {
  height: 85%;
  width: 100%;
  padding: 1rem 0.5rem;
}
.home-section .home-section-bottom-postsbox {
  margin-top: 10rem;
  width: 90%;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}
.home-section .home-section-bottom-postsbox-linkbox-link {
  width: 15rem;
  height: 3.5rem;
  margin: 4rem auto 0;
  border: #0a1756 3px solid;
  border-width: 3px;
}
.home-section .home-section-bottom-postsbox-linkbox-link:hover {
  border-color: #0a1756;
}
.home-section .home-section-bottom-postsbox-linkbox-link:hover span {
  transform: translateX(11.5rem);
  background-color: #0a1756 !important;
}
.home-section .home-section-bottom-postsbox-linkbox-link:hover::before {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .home-section-top {
    flex-direction: column;
  }
  .home-section-top-text {
    margin-top: 7rem;
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .home-section-top {
    padding: 0;
  }
  .home-section-top-text {
    border: solid white 2px;
    width: 100%;
  }
  .same,
  #home-h3 {
    font-size: clamp(0.5rem, 0.3rem + 2vw, 1.2rem) !important;
  }
  .home-section-bottom-postsbox {
    width: calc(100% - 1rem) !important;
    padding-inline: 0 !important;
  }
  .home-section-bottom-postsbox-linkbox-link {
    margin: 0;
  }
}
.home-card-main {
  position: relative;
  display: flex;
  width: min(90%, 1600px);
  margin-inline: auto;
  box-shadow: 0px 0px 10px 5px rgba(34, 34, 34, 0.5);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.home-card-main:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px 5px rgba(255, 50, 200, 0.5), 0px 0px 40px 5px rgba(80, 42, 247, 0.6);
  border-radius: 20px;
}
.home-card-main-imgbox {
  position: relative;
  min-height: 50%;
  overflow: hidden;
  width: 60%;
}
.home-card-main-imgbox-img {
  display: flex;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home-card-main-imgbox::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: unset;
  background: linear-gradient(90deg, transparent 30%, #eee 100%, transparent 10%);
  z-index: 2;
}
.home-card-main-imgbox::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: unset;
  background: linear-gradient(135deg, transparent, rgba(255, 50, 200, 0.3) 20%, rgba(80, 42, 247, 0.3) 70%, rgb(238, 238, 238) 200%, transparent);
  z-index: 1;
}
.home-card-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 40%;
  min-height: 50%;
  padding: 1rem;
  background-color: #eee;
}
.home-card-main-container-text {
  padding-inline: 2rem;
}
.home-card-main-container-text-title {
  font-size: clamp(1rem, 0.5rem + 3vw, 2rem);
}
.home-card-main-container-text p {
  font-size: clamp(0.9rem, 0.3rem + 2vw, 1.2rem);
}
.home-card-main-container-author {
  display: flex;
}
.home-card-main-container-author-img {
  position: relative;
  z-index: 10;
  border-radius: 50%;
  margin-right: 1rem;
}

@media screen and (max-width: 900px) {
  .home-section-bottom {
    min-height: 80vh;
    padding-inline: 1rem;
  }
  .home-card-main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: unset;
    width: clamp(200px, 100%, 600px) !important;
    max-height: none;
    min-height: 85vh;
    margin: 1rem auto;
    background: #eee;
  }
  .home-card-main-imgbox {
    margin: 0;
    width: 100%;
  }
  .home-card-main-imgbox-img {
    height: 350px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-card-main-imgbox::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: unset;
    background: linear-gradient(180deg, transparent 50%, #eee 100%, transparent 10%);
    z-index: 2;
  }
  .home-card-main-container {
    width: 100%;
    min-height: calc(100% - 350px);
    margin: 0;
    padding: 1rem;
  }
  .home-card-main-container-text {
    min-height: 400px;
    padding: 0 1rem;
  }
  .home-card-main-container-text-title {
    margin: 0.5rem 0 0;
  }
  .home-card-main-container-author {
    max-height: 64px;
    width: 64px;
    margin: 1rem;
  }
  .home-card-main-container-author-figcaption-name {
    margin: 0.5rem 0;
    white-space: nowrap;
  }
}
.home-card-secondary {
  min-height: 85vh;
  width: clamp(250px, 100%, 400px);
  padding: 0;
  margin-inline: auto;
  color: #222;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 5px rgba(34, 34, 34, 0.5);
  background-color: #eee;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(30%);
}
.home-card-secondary:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 50, 200, 0.5), 0px 0px 20px 10px rgba(80, 42, 247, 0.6);
  cursor: pointer;
  transition-delay: 0s !important;
}
.home-card-secondary-imgbox {
  width: 100%;
  height: 300px;
  margin-top: 0;
}
.home-card-secondary-imgbox-img {
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-card-secondary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 300px);
  padding: 1rem;
}
.home-card-secondary-container-author {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: unset;
  margin: 0 auto 0 1rem;
}
.home-card-secondary-container-author-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1rem;
}
.home-card-secondary-container-author-figcaption {
  display: flex;
}
.home-card-secondary-container-author-figcaption-name {
  margin: 1.2rem 0.5rem 0;
}
.home-card-secondary-container-author-figcaption-date {
  margin: 1.3rem 0.5rem 0;
}

.visible {
  opacity: 1;
  transform: translateY(0%);
}

.home-section-top-animation {
  position: relative;
  height: 45vmin;
  aspect-ratio: 1.618;
  margin-top: 4rem;
  padding: 1rem;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease;
}
.home-section-top-animation > .shape {
  position: absolute;
  transition: all 1s ease;
}
.home-section-top-animation > .shape:nth-child(1) {
  background: linear-gradient(#8a00d4, #EA047E);
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
}
.home-section-top-animation > .shape:nth-child(2) {
  background: linear-gradient(#018286, #00F5FF);
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
  z-index: 2;
}
.home-section-top-animation > .shape:nth-child(3) {
  background: linear-gradient(#FF6D28, #EA047E);
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
}
.home-section-top-animation > .shape:nth-child(4) {
  background: linear-gradient(#400063, #a600ff);
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
}
.home-section-top-animation > .shape:nth-child(5) {
  background: #eee;
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
}
.home-section-top-animation > .shape:nth-child(6) {
  background: linear-gradient(#018286, #00F5FF);
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
}
.home-section-top-animation > .shape:nth-child(7) {
  background: #eee;
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
  z-index: 2;
}
.home-section-top-animation[data-roundness="1"] > .shape {
  border-radius: 0;
}
.home-section-top-animation[data-roundness="2"] > .shape {
  border-radius: 2rem;
}
.home-section-top-animation[data-roundness="3"] > .shape {
  border-radius: 50vh;
}
.home-section-top-animation[data-roundness="4"] > .shape:nth-child(1) {
  border-bottom-left-radius: 10rem;
}
.home-section-top-animation[data-roundness="4"] > .shape:nth-child(2) {
  border-radius: 50vh;
}
.home-section-top-animation[data-roundness="4"] > .shape:nth-child(3) {
  border-top-right-radius: 10rem;
}
.home-section-top-animation[data-roundness="4"] > .shape:nth-child(4) {
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.home-section-top-animation[data-roundness="4"] > .shape:nth-child(5) {
  border-bottom-left-radius: 10rem;
}
.home-section-top-animation[data-roundness="4"] > .shape:nth-child(6) {
  border-top-left-radius: 16rem;
}
.home-section-top-animation[data-roundness="4"] > .shape:nth-child(7) {
  border-top-left-radius: 10rem;
}
.home-section-top-animation[data-position="1"] > .shape:nth-child(1) {
  left: 0;
  top: 0;
  height: 50%;
  width: 20%;
}
.home-section-top-animation[data-position="1"] > .shape:nth-child(2) {
  left: 20%;
  top: 0%;
  height: 50%;
  width: 30%;
}
.home-section-top-animation[data-position="1"] > .shape:nth-child(3) {
  left: 50%;
  top: 0%;
  height: 100%;
  width: 50%;
}
.home-section-top-animation[data-position="1"] > .shape:nth-child(4) {
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}
.home-section-top-animation[data-position="1"] > .shape:nth-child(5) {
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}
.home-section-top-animation[data-position="1"] > .shape:nth-child(6) {
  left: 70%;
  top: 50%;
  height: 50%;
  width: 30%;
}
.home-section-top-animation[data-position="1"] > .shape:nth-child(7) {
  left: 85%;
  top: 75%;
  height: 25%;
  width: 15%;
}
.home-section-top-animation[data-position="2"] > .shape:nth-child(1) {
  left: 25%;
  top: 20%;
  height: 80%;
  width: 15%;
}
.home-section-top-animation[data-position="2"] > .shape:nth-child(2) {
  left: 40%;
  top: 20%;
  height: 50%;
  width: 10%;
}
.home-section-top-animation[data-position="2"] > .shape:nth-child(5) {
  left: 50%;
  top: 0%;
  height: 100%;
  width: 25%;
}
.home-section-top-animation[data-position="2"] > .shape:nth-child(4) {
  left: 0%;
  top: 0%;
  height: 50%;
  width: 10%;
}
.home-section-top-animation[data-position="2"] > .shape:nth-child(7) {
  left: 10%;
  top: 0%;
  height: 70%;
  width: 15%;
}
.home-section-top-animation[data-position="2"] > .shape:nth-child(6) {
  left: 75%;
  top: 10%;
  height: 80%;
  width: 15%;
}
.home-section-top-animation[data-position="2"] > .shape:nth-child(3) {
  left: 90%;
  top: 40%;
  height: 60%;
  width: 10%;
}
.home-section-top-animation[data-position="3"] > .shape:nth-child(1) {
  left: 0%;
  top: 16.5%;
  height: 32%;
  width: 20%;
}
.home-section-top-animation[data-position="3"] > .shape:nth-child(4) {
  left: 20%;
  top: 2.7%;
  height: 55%;
  width: 34%;
}
.home-section-top-animation[data-position="3"] > .shape:nth-child(3) {
  left: 38%;
  top: 0%;
  height: 100%;
  width: 62%;
}
.home-section-top-animation[data-position="3"] > .shape:nth-child(6) {
  left: 0%;
  top: 47.3%;
  height: 55%;
  width: 34%;
}
.home-section-top-animation[data-position="3"] > .shape:nth-child(5) {
  left: 34%;
  top: 56.4%;
  height: 32%;
  width: 20%;
}
.home-section-top-animation[data-position="3"] > .shape:nth-child(2) {
  left: 66%;
  top: 45%;
  height: 55%;
  width: 34%;
}
.home-section-top-animation[data-position="3"] > .shape:nth-child(7) {
  left: 80%;
  top: 68%;
  height: 32%;
  width: 20%;
}/*# sourceMappingURL=style.css.map */