.title,
.menu > *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.title{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}

.error {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}
.selected{
    color: red;
    pointer-events: none;
}
.search-form{
    margin:auto;
    text-align: center;
}

.search-form input{
    display: block;
    margin:auto;
    padding: 0.25rem;
    border-radius: .25rem;
    font-size: 1rem;
}

.grid-fluid{
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header{
    padding: .5rem;
    position: sticky;
    top:0;
    text-align: center;
    background-color: #fff;
}

.header > *{
    margin: 1rem auto; 
}

.post-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #eceff1;
}
.post-card p{
    display: flex;
    justify-content: space-between;
}

.loader{
    margin: 1rem auto;
    display: block;
    height: 4rem;
    width: 4rem;
}

.post-page{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #eceff1;
}

.post-page > aside{
    margin: auto;
    width: 60%;
    text-align: center;
}

.post-page > hr {
    border: thin solid #cfd8dc;
    margin: 2rem auto;
    width: 80%;
}

.post-page > time{
    margin: 1rem auto;
}

.post-page > article {
    padding: 0 2rem;
}

.post-page img,
.post-page audio,
.post-page iframe,
.post-page video,
.post-page figure{
    margin-inline: auto;
    display: block;
    max-width: 100%;
}
.post-page figure{
    max-width: fit-content;
}
.hidden{
    display: none;
}