
@use "sass:math";

@mixin flex( $direction: unset, $justify: unset, $align: unset ) {
	display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin position($pos: relative, $top: unset, $bottom: unset, $left: unset, $right: unset, $z-index: unset){
    position: $pos;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    z-index: $z-index;
}


@function toRem($pixel){
    @if math.is-unitless($pixel){
        @return math.div($pixel, 16) + rem;
    }@else {
        @error "just numbers without units"
    }
}
@function toEm($pixel){
    @if math.is-unitless($pixel){
        @return math.div($pixel, 16) + em;
    }@else {
        @error "just numbers without units"
    }
}