html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Cabin', sans-serif;*/
}
*::after,
*::before,
* {
    box-sizing: border-box;
}

//ELEMENTOS NO SELECCIONABLES
.title,
.menu > *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

a{
    text-decoration: none;
    margin:0;
    padding:0;
}

//menu current section 
.selected{
    color: white;
    pointer-events: none;
}
img{
    max-width: 100%;
}

//hmmm cre oque no los uso a estos..
.hidden{
    opacity: 0;
}
.visible{
    opacity: 1;
}
a:active{
 color:#eee;
}
a:visited{
    text-decoration: none;
}