html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Cabin', sans-serif;*/
}
*::after,
*::before,
* {
    box-sizing: border-box;
}

//ELEMENTOS NO SELECCIONABLES
.title,
.menu > *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
a{
    margin:0;
    padding:0;

    text-decoration: none;
}
img{
    max-width: 100%;
}
a:visited{
    text-decoration: none;
}
a:focus{
    outline: none;
}