@import "../utils/mixins_and_functions";
@import "../utils/variables";

.loader{
    height: 4rem;
    width: 4rem;

    margin: 0 auto;
}
.error {
    padding: 1rem;

    text-align: center;
    
    font-size: 1.5rem;
    font-weight: var(--fw-3);
    
    background-color: var(--clr-err);
    color: var(--clr-white);
}
.warn{
    padding: 1rem;

    text-align: center;

    font-size: 1.5rem;
    font-weight: var(--fw-3);
    
    color: var(--clr-white);
}
.btn{
    position:relative;

    @include flex(row, center, center);

    width: toRem(150);
    height: toRem(40);
    
    padding-block: .5rem;
    padding-inline: 2.5rem 1rem;
    
    color:#aaa;
    border:solid transparent 2px;
    border-radius: toRem(10);

    font-weight: var(--fw-3);
    white-space: nowrap;
    
    transition: all .5s ease;

    overflow: hidden;

    &:focus{
        outline:none;
    }

    & span{
        @include position(absolute, 2px, unset, 2px);
        position: absolute;
        left: 2px;
        top: 2px;

        display: grid;
        place-content: center;

        height: calc(100% - 4px);
        aspect-ratio: 1 / 1;
        
        border-radius: toRem(7);
        
        background-color: transparent;
        
        transition: all .5s ease;
    }
    &:hover{
        color:var(--clr-white);                                                  //variable colors
        border-color: var(--clr-white);
        box-shadow: inset 0px 0px 20px 30px rgba(255, 50, 200, 0.5) ,inset 0px 0px 20px 30px rgba(80, 42, 247, 0.6), 0px 0px 10px 5px rgba(255, 50, 200, 0.5) , 0px 0px 10px 5px rgba(80, 42, 247, 0.6);
        padding-inline: 1rem 2.5rem;
        & span{
            transform: translateX(toRem(110));
            background-color: var(--clr-white);
        }
    }
}   
#btn-github,
#btn-linkedin{
    cursor: pointer;
}
