@import "../utils/mixins";
@import "../utils/variables";

.loader{
    height: 4rem;
    width: 4rem;

    margin: 0 auto;
}
.error {
    padding: 1rem;

    text-align: center;
    
    font-size: 1.5rem;
    font-weight: bold;
    
    background-color: #dc3545;                                     //variable colors
    color: #fff;                                                   //variable colors
}
.warn{
    padding: 1rem;

    text-align: center;

    font-size: 1.5rem;
    font-weight: bold;
    
    color: #fff;                                                //variable colors    
}
.btn{
    position:relative;

    @include flex(row, center, center);

    width: 150px;
    height: 40px;
    
    padding: .5rem 1rem .5rem 2.5rem;
    
    color:#aaa;                                        // variable colors
    border:solid transparent 2px;                             //usar variable ya que tiene que matchear con el color de letra
    border-radius: 10px;

    font-weight: bold;
    white-space: nowrap;
    
    transition: all .5s ease;

    overflow: hidden;

    &:focus{
        outline:none;
    }

    & span{
        @include position(absolute, 2px, unset, 2px);
        position: absolute;
        left: 2px;
        top: 2px;

        display: grid;
        place-content: center;

        height: calc(100% - 4px);
        aspect-ratio: 1 / 1;
        
        border-radius: 7px;
        
        background-color: transparent;                                 //variable colors
        
        transition: all .5s ease;
    }
    
    &::before{
        content:"";
        @include position(absolute, 0, 0, 0, unset, -1);

        width: 0;
        height: 100%;

        background-color: rgba(255, 50, 200, 0.5);                      //variable colors

        transition: all .5s ease;
    }
    &:hover::before{
        width: 100%;
    }
    &:hover{
        color:#eee;                                                  //variable colors
        border-color: #eee;
        box-shadow: inset 0px 0px 20px 30px rgba(255, 50, 200, 0.5) ,inset 0px 0px 20px 30px rgba(80, 42, 247, 0.6), 0px 0px 10px 5px rgba(255, 50, 200, 0.5) , 0px 0px 10px 5px rgba(80, 42, 247, 0.6);
        padding-inline: 1rem 2.5rem;
        & span{
            transform: translateX(150px - 40px);
            background-color: #eee;
        }
    }
}   
#btn-github,
#btn-linkedin{
    cursor: pointer;
}